# ── Shortener Service ──
SHORTENER_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
BASE_URL=http://localhost:3001

# ── Analytics Service ──
ANALYTICS_PORT=3002
ANALYTICS_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener
ANALYTICS_RABBITMQ_URL=amqp://localhost:5672

# ── Frontend ──
VITE_API_URL=http://localhost:3001
VITE_ANALYTICS_API_URL=http://localhost:3002
